################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TCC.Application.CriacaoBases/bin/Debug/Bases
